
/*			Page content			*/ 

section h2{
	background-color: #fff;
	width: 80%;
	margin: auto;
	padding: 0.8rem;
  border-radius: 10px;
  font-size: 1.3rem;
}

article {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.705);
    margin: 0.5rem auto 1.9rem auto;
    padding: 1.5rem;
	display: flex;
	flex-direction: column;
    align-items: center;
	border-radius: 10px;
	box-shadow: 0px 4px 4px grey;
}

article>h3{
	align-self: flex-start;
  margin-bottom: 0.9rem;
  font-size: 1.2rem;
}

article>img, article>video{
    width:500px;
    max-width: 100%;
}

article .postInfos {
	width: 95%;
	display: flex;
	justify-content: space-between;
  padding: 0.2rem 0;
  margin: 0.3rem;
  font-size: 0.8rem;
  max-width: 500px;
}

hr{
	width: 80%;
	margin: 1.5rem auto;
}

/*			Button				*/ 

.vote{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
}
.vote button {
  display : flex;
	width: 50%; 
  align-items: center;
  justify-content: space-around;
}
.vote button:first-child { 
  border-color:#cffa93 ;
  background-color:#cffa93 ;
  border-radius: 8px 0px 0px 8px;
}

.vote button:last-child { 
  border-color: #ffa7b4;
  background-color: #ffa7b4;
  border-radius: 0px 8px 8px 0px;
}
.vote button:first-child:active { 
  border-color:#bce187 ;
  background-color:#bce187;
}
.vote button:last-child:active { 
  border-color: #ec4e66;
  background-color: #f16b80;
}

.vote img {
  width: 15%;
  min-width: 50px;
}
.vote button:first-child img{
  transform: scaleX(-1);
}

/*			Go Top Button			*/ 
.gotopbutton {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.gotopbutton img {
  width: 50px;
  height: 50px;
}

@media screen and (min-width: 960px){




















}