* {
	margin: 0;
	box-sizing: border-box;
}

nav {
  display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #F76c6c;
	
	height: 50px;
}

/*         Menu Burger          */

#burger {
  position: relative;
  height: 100%;
}
#burger > input {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  opacity: 0; 
  z-index: 2; 
}
#burgerIcon {
  margin-top: 14px;
}
#burgerIcon > div {
  width: 30px;
  height: 4px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  background: #cdcdcd;
  border-radius: 3px;
}
#burgerIcon > div:last-child {
  margin-bottom: 0;
}
#burger > ul {
  position: absolute;
  width: 300px;
  height: 100vh;
  left: -302px;
  top: 50px;
  list-style-type: none;
  padding: 0;
  background-color : rgb(255, 148, 148);
}
#burger li {
  margin-bottom: 10px;
  padding-left: 10px;
  font-size: 22px;
  color: white;
}
#burger li:first-child {
  margin-top: 10px;
}
#burger > input:checked ~ ul {
  left : -2px;
}

nav a {
	display: flex;
	align-items: center;
}

#search-container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: right;
	margin-right: 10px;
	border-color: black;
	border: solid;
}

#search-container input{
	height: 80%;
}

#search-container button{
	width: 15%;
}

#search-container img{
	width: 62%;
}

