/* Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
}

/* Variables */

:root {
    --main-color: #F76c6c;
    --second-color: #feeeee;
}

/* form style */ 

body{
    background-color: var(--second-color);
}

h1, h2{
    font-weight: 800;
}

main{
    width: 80%;
    margin: 0 auto 1em auto;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 6px 5px darkgrey; 
}

main h1{
    margin: 1.2rem;
    text-align: center;
    font-size: 1.3rem;
}

main form {
   display: flex;
   flex-direction: column; 
}

main form>div{
    display: flex;
    flex-direction: column;
    margin-top: 0.6rem;
    padding: 0.4rem;
}

div label {
    padding: 0.4rem;
}

#content p {
    padding: 0.4rem;
}

#content label{
    font-size: 0.9rem;
    margin: 0.4rem 0 0 0.2rem;
}

#file_content{
    padding-right: 0;
}

main form span {
    color: var(--main-color);
}

#categories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 0;
    max-width: 410px;
    align-self: center;
}

div~p {
    padding: 0.4rem;
   margin-left: 0.2rem;
}

#categories div{
    display: flex;
    flex-direction: row;

    margin-left: 0.4rem;
}

main div input{
    padding: 0.3rem;
}

/*    Button     */

#submit_button{
    background-color:var(--main-color);
    color: #fff;
    font-weight: 600;
    padding: 0.8rem;
    border-radius: 12px;
    border: solid transparent 1px;
    width: 50%;
    margin: auto;
    box-shadow: 0px 4px 4px darkgrey;
}


